@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
https://www.nuget.org/

<h5>https://forums.asp.net/t/2142673.aspx?Missing+Model+ApplicationUser+in+Model+Class+Field</h5>
<h5>https://stackoverflow.com/questions/50444835/asp-net-core-2-0-applicationuser-cs</h5>
<h5>https://stackoverflow.com/questions/50982409/applicationuser-model-is-missing-in-mode-class-field-when-trying-to-create-new-c</h5>

<br />
https://docs.microsoft.com/ko-kr/aspnet/core/tutorials/razor-pages/page?view=aspnetcore-2.1
<br />
http://openlightgroup.com/Blog/TabId/58/PostId/189/UserRolesAdministration.aspx
<br />
https://www.codeproject.com/Questions/1175533/The-object-sets-applicationusers-and-users-can-bot
<br />
https://www.youtube.com/watch?v=OP_KDWlAgCQ
<br />
https://www.youtube.com/watch?v=GS55DDE3VL0
<br />
https://stackoverflow.com/questions/51004516/net-core-2-1-identity-get-all-users-with-their-associated-roles/51005445#51005445
<br />
https://stackoverflow.com/questions/50444835/asp-net-core-2-0-applicationuser-cs
<br />
https://adrientorris.github.io/aspnet-core/identity/how-to-get-current-logged-in-user-id.html
<br />
https://stackoverflow.com/questions/37742851/code-generator-error-there-is-no-entity-type-on-dbcontext
<br />
https://www.c-sharpcorner.com/article/asp-net-core-mvc-authentication-and-role-based-authorization-with-asp-net-core/
<br />
https://stackoverflow.com/questions/50982409/applicationuser-model-is-missing-in-mode-class-field-when-trying-to-create-new-c
<br />
https://www.c-sharpcorner.com/article/asp-net-core-identity-tables-customization-with-visual-studio-2017/
<br />
https://stackoverflow.com/questions/43562150/asp-net-core-1-1-getting-all-users-and-their-roles
<br />
https://www.codeproject.com/Articles/674760/Code-First-Migration-and-Extending-Identity-Accoun
<br />
https://gldraphael.com/blog/getting-started-with-identity-in-asp-net-core/
<br />
https://www.codeproject.com/Articles/1237650/ASP-NET-Core-User-Role-Base-Dynamic-Menu-Managemen
<br />
https://www.youtube.com/watch?v=GS55DDE3VL0
<br />
https://timschreiber.com/2018/05/08/aspnet-core-identity-with-patterns-3/
<br />
https://medium.com/nativoplus/asp-net-core-identity-3-0-6018fc151b4
<br />
google : asp.net core identity users
<br />
google : asp.net core identityuser model class controller
<br />
google : asp net core identity usermanager get all users
<br />
google : asp net core identity usermanager get all users site:forums.asp.net
<br />
google : asp.net core identity user Applicationuser model
<br />
https://www.dotnetcurry.com/aspnet-mvc/1229/user-authentication-aspnet-mvc-6-identity
<br />
http://www.binaryintellect.net/articles/b957238b-e2dd-4401-bfd7-f0b8d984786d.aspx
<br />
https://stackoverflow.com/posts/26357676/edit
<br />
https://stackoverflow.com/questions/51004516/net-core-2-1-identity-get-all-users-with-their-associated-roles/51005445
<br />
https://www.asp.net/community
<br />
https://forums.asp.net/t/2083257.aspx?Get+a+table+with+all+users+and+their+roles
<br />
https://forums.asp.net/t/2033844.aspx?get+all+user+in+a+role
<br />
https://adrientorris.github.io/aspnet-core/identity/extend-user-model.html
<br />
https://gldraphael.com/blog/getting-started-with-identity-in-asp-net-core/
<br />
https://www.tektutorialshub.com/asp-net-core-identity-tutorial/
<br />
https://korzh.com/blogs/net-tricks/aspnet-identity-store-user-data-in-claims
<br />
https://github.com/timschreiber/ASP.NET-Core-Identity-Example
<br />
https://github.com/aspnet/Identity/issues/1361
<br />
https://forums.asp.net/t/2009580.aspx?how+can+i+get+all+users+from+AspNetUsers+in+Dropdown+
<br />
https://forums.asp.net/t/2129247.aspx?Get+all+users+with+a+specific+role+in+ASP+NET+Core+2+0
<br />
https://forums.asp.net/t/2068468.aspx?ASP+NET+identity+use+email+instead+of+user+name
<br />
https://patrickdesjardins.com/blog/asp-net-mvc-login-with-email-instead-of-username-with-identity
<br />
https://www.codeproject.com/Articles/796940/Understanding-Using-and-Customizing-ASP-NET-Identi
<br />
https://forums.asp.net/t/2147284.aspx?Deactivate+User+with+Asp+net+Identity
<br />
https://forums.asp.net/t/2110059.aspx?Create+roles+and+give+permission+for+the+users+using+asp+net+core+with+entity+framework+core
<br />
https://forums.asp.net/t/2127937.aspx?how+to+use+aspnetuser+primary+key+in+a+custom+table
<br />
https://forums.asp.net/t/1957500.aspx?How+to+access+custom+Identity+or+ApplicationUser+properties+
<br />
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/add-user-data?view=aspnetcore-2.1&tabs=visual-studio
<br />
https://github.com/thiennn/AspnetCoreIdentityLong/tree/master/src/AspnetCoreIdentityLong/Models
<br />
https://www.tutorialspoint.com/asp.net_core/asp.net_core_identity_configuration.htm
<br />
https://www.youtube.com/watch?v=jJ_keKjuFaA
<br />
https://stackoverflow.com/questions/47054381/access-custom-applicationuser-property-from-view-in-asp-net-core-2
<br />
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-2.1
<br />
https://stackoverflow.com/questions/9758493/add-controller-model-classes-not-shown
<br />
https://stackoverflow.com/questions/9668140/add-view-model-class-dropdown-not-showing-my-class
<br />
https://stackoverflow.com/questions/26351822/scaffolding-applicationuser
<br />
https://github.com/aspnet/Scaffolding/issues/839
<br />
https://blog.nordicdev.io/changing-theprimary-key-type-of-applicationuser-in-asp-net-identity-core-1789ead1ed17
<br />
https://forums.asp.net/t/2132075.aspx?Core+2+0+missing+Scaffolding+items
<br />
https://stackoverflow.com/questions/50676654/identity-in-asp-net-core-2-1-customize-accountcontroller
<br />
https://stackoverflow.com/questions/43569906/adding-a-controller-for-applicationuser-cs-mvc-core
<br />
