@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<br />
https://asp.net-hacker.rocks/2016/02/18/extending-razor-views.html
<br />
https://tahirnaushad.com/2017/08/23/asp-net-core-2-0-mvc-layout-pages/
<br />
https://docs.microsoft.com/ko-kr/aspnet/core/mvc/controllers/routing?view=aspnetcore-2.1
<br />
http://blog.daum.net/_blog/BlogTypeView.do?blogid=0PPwB&articleno=2082&categoryId=48&regdt=20181004104445
<br />
https://stormpath.com/blog/routing-in-asp-net-core
<br />
http://taeyo.net/Columns/View.aspx?SEQ=572&PSEQ=40
<br />
https://blogs.msdn.microsoft.com/webdev/2018/03/02/aspnetcore-2-1-identity-ui/
<br />
https://stackoverflow.com/questions/42105434/asp-net-core-change-default-redirect-for-unauthorized
<br />
http://docs.identityserver.io/en/release/topics/signin.html
<br />
====================================================================
<br />
https://blogs.msdn.microsoft.com/webdev/2018/03/02/aspnetcore-2-1-identity-ui/
<br />
https://www.example-code.com/dotnet-core/emailObj.asp
<br />
http://www.taeyo.net/Forum/Content.aspx?SEQ=34349&TBL=ASPNET&PGN=13
<br />
https://stackoverflow.com/questions/46930090/unable-to-resolve-service-for-type-while-attempting-to-activate
<br />
https://stackoverflow.com/questions/46320189/asp-net-core-2-unable-to-resolve-service-for-type-microsoft-entityframeworkcore
<br />
https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/areas?view=aspnetcore-2.1
<br />
https://code.msdn.microsoft.com/Session-State-In-ASPNET-5332f9f3
<br />
====================================================================
<br />
https://www.tutorialspoint.com/asp.net_core/asp.net_core_log_in_and_log_out.htm
<br />
https://exceptionnotfound.net/setting-a-custom-default-page-in-asp-net-core-razor-pages/
<br />
https://forums.asp.net/t/2140990.aspx?Navigating+to+another+page+ASPNET+Core+2+0
<br />
https://stackoverflow.com/questions/25804518/mvc-redirect-after-login
<br />
https://stackoverflow.com/questions/46858830/redirect-after-login-in-mvc5
<br />
https://www.c-sharpcorner.com/article/learn-mvc-using-angular-role-based-login/
<br />
https://stackoverflow.com/questions/1391887/redirecttoaction-between-areas
<br />
https://stackoverflow.com/questions/45809363/working-with-return-url-in-asp-net-core
<br />
https://forums.asp.net/t/1546396.aspx?MVC+Areas+View+not+found+
<br />
https://www.dotnettricks.com/learn/mvc/return-view-vs-return-redirecttoaction-vs-return-redirect-vs-return-redirecttoroute
<br />
https://stackoverflow.com/questions/46896977/login-in-asp-net-core-2
<br />
https://stackoverflow.com/questions/31609813/how-to-make-login-page-a-startup-page-in-asp-net-mvc-web-application
<br />
https://fullstackmark.com/post/10/user-authentication-with-angular-and-asp-net-core
<br />
====================================================================
<br />
https://docs.microsoft.com/ko-kr/aspnet/core/mvc/controllers/areas?view=aspnetcore-2.1
<br />
https://github.com/aspnet/Routing/issues/623
<br />
https://stackoverflow.com/questions/15616240/mvc-area-routing
<br />
onion architecture : https://social.technet.microsoft.com/wiki/contents/articles/36655.onion-architecture-in-asp-net-core-mvc.aspx
<br />
https://github.com/aspnet/Mvc/issues/6680
<br />
https://hackernoon.com/applying-clean-architecture-on-web-application-with-modular-pattern-7b11f1b89011
<br />
https://tv.ssw.com/7551/clean-architecture-with-asp-net-core-2-1-jason-taylor-ddd-sydney-2018
<br />
https://nbarbettini.gitbooks.io/little-asp-net-core-book/content/chapters/security-and-identity/authorization-with-roles.html
<br />
https://social.technet.microsoft.com/wiki/contents/articles/36804.asp-net-core-mvc-authentication-and-role-based-authorization-with-asp-net-core-identity.aspx#Edit_User
<br />
https://matthewrenze.com/articles/clean-architecture-in-asp-net-mvc-5/
<br />
https://www.tektutorialshub.com/passing-data-from-controller-to-view-in-asp-net-core-mvc/
<br />
google : asp.net core 2.1 roleManager roles aync
<br />
blazor : https://learn-blazor.com/pages/lifecycle-methods/
<br />
http://www.csharpstudy.com/web/article/12-Core-MVC6
<br />
http://nsinc.tistory.com/109
<br />
https://github.com/aspnet/Identity/issues/1547
<br />
https://github.com/aspnet/Identity/issues/1361
<br />
https://forums.asp.net/t/2130410.aspx?Roles+and+RoleManager+in+ASP+NET+Core+2
<br />
https://stackoverflow.com/questions/47741753/asp-net-core-mvc-how-to-send-viewmodel-to-different-controller-method
<br />
https://www.nuget.org/
<br />
https://nbarbettini.gitbooks.io/little-asp-net-core-book/content/chapters/security-and-identity/using-identity-in-the-application.html
<br />
<h5>https://forums.asp.net/t/2142673.aspx?Missing+Model+ApplicationUser+in+Model+Class+Field</h5>
<h5>https://stackoverflow.com/questions/50444835/asp-net-core-2-0-applicationuser-cs</h5>
<h5>https://stackoverflow.com/questions/50982409/applicationuser-model-is-missing-in-mode-class-field-when-trying-to-create-new-c</h5>
<br />
https://www.youtube.com/watch?v=CJIrmzHoY_M
<br />
https://hk.saowen.com/a/26891139700db6c088cddb36c19e324a339492553e904e60e613e83c7d04ffcd
<br />
https://www.tektutorialshub.com/passing-data-from-controller-to-view-in-asp-net-core-mvc/
<br />
https://docs.microsoft.com/ko-kr/aspnet/core/tutorials/razor-pages/page?view=aspnetcore-2.1
<br />
http://openlightgroup.com/Blog/TabId/58/PostId/189/UserRolesAdministration.aspx
<br />
https://www.codeproject.com/Questions/1175533/The-object-sets-applicationusers-and-users-can-bot
<br />
https://www.youtube.com/watch?v=OP_KDWlAgCQ
<br />
https://www.youtube.com/watch?v=GS55DDE3VL0
<br />
https://stackoverflow.com/questions/51004516/net-core-2-1-identity-get-all-users-with-their-associated-roles/51005445#51005445
<br />
https://stackoverflow.com/questions/50444835/asp-net-core-2-0-applicationuser-cs
<br />
https://adrientorris.github.io/aspnet-core/identity/how-to-get-current-logged-in-user-id.html
<br />
https://stackoverflow.com/questions/37742851/code-generator-error-there-is-no-entity-type-on-dbcontext
<br />
https://www.c-sharpcorner.com/article/asp-net-core-mvc-authentication-and-role-based-authorization-with-asp-net-core/
<br />
https://stackoverflow.com/questions/50982409/applicationuser-model-is-missing-in-mode-class-field-when-trying-to-create-new-c
<br />
https://www.c-sharpcorner.com/article/asp-net-core-identity-tables-customization-with-visual-studio-2017/
<br />
https://stackoverflow.com/questions/43562150/asp-net-core-1-1-getting-all-users-and-their-roles
<br />
https://www.codeproject.com/Articles/674760/Code-First-Migration-and-Extending-Identity-Accoun
<br />
https://gldraphael.com/blog/getting-started-with-identity-in-asp-net-core/
<br />
https://www.codeproject.com/Articles/1237650/ASP-NET-Core-User-Role-Base-Dynamic-Menu-Managemen
<br />
https://www.youtube.com/watch?v=GS55DDE3VL0
<br />
https://timschreiber.com/2018/05/08/aspnet-core-identity-with-patterns-3/
<br />
https://medium.com/nativoplus/asp-net-core-identity-3-0-6018fc151b4
<br />
google : asp.net core identity users
<br />
google : asp.net core identityuser model class controller
<br />
google : asp net core identity usermanager get all users
<br />
google : asp net core identity usermanager get all users site:forums.asp.net
<br />
google : asp.net core identity user Applicationuser model
<br />
google : asp.net core 2.1 role management
<br />
http://taeyo.net/Columns/View.aspx?SEQ=572&PSEQ=40
<br />
https://matthewrenze.com/articles/clean-architecture-in-asp-net-mvc-5/
<br />
https://www.codeproject.com/Articles/1235077/Getting-Started-With-ASP-NET-Core-Identity-And-Rol
<br />
google : asp.net core area
<br />
https://hk.saowen.com/a/26891139700db6c088cddb36c19e324a339492553e904e60e613e83c7d04ffcd
<br />
https://www.ryadel.com/en/asp-net-mvc-controller-subfolder-routing-url-request-response-attribute-routes/
<br />
https://stackoverflow.com/questions/50426278/how-to-use-roles-in-asp-net-core-2-1
<br />
https://pioneercode.com/post/creating-areas-in-asp-net-core
<br />
https://exceptionnotfound.net/asp-net-mvc-demystified-areas/
<br />
https://docs.microsoft.com/en-us/previous-versions/aspnet/ee671793(v=vs.100)
<br />
https://forums.asp.net/t/1961904.aspx?ASP+NET+Mvc+Routing+for+Subdirectories
<br />
https://stackoverflow.com/questions/33802430/subfolder-in-controllers-asp-net-mvc/33802821
<br />
https://stackoverflow.com/questions/17178688/controller-in-sub-folder
<br />
https://stackoverflow.com/questions/41703430/asp-net-mvc-controller-subfolder
<br />
https://stackoverflow.com/questions/17178688/controller-in-sub-folder
<br />
https://gooroo.io/GoorooTHINK/Article/17333/Custom-user-roles-and-rolebased-authorization-in-ASPNET-core/32835#.W-qEcjj7SUl
<br />
https://www.dotnetcurry.com/aspnet-mvc/1229/user-authentication-aspnet-mvc-6-identity
<br />
http://www.binaryintellect.net/articles/b957238b-e2dd-4401-bfd7-f0b8d984786d.aspx
<br />
https://stackoverflow.com/posts/26357676/edit
<br />
https://stackoverflow.com/questions/51004516/net-core-2-1-identity-get-all-users-with-their-associated-roles/51005445
<br />
https://www.asp.net/community
<br />
https://forums.asp.net/t/2083257.aspx?Get+a+table+with+all+users+and+their+roles
<br />
https://forums.asp.net/t/2033844.aspx?get+all+user+in+a+role
<br />
https://adrientorris.github.io/aspnet-core/identity/extend-user-model.html
<br />
https://gldraphael.com/blog/getting-started-with-identity-in-asp-net-core/
<br />
https://www.tektutorialshub.com/asp-net-core-identity-tutorial/
<br />
https://korzh.com/blogs/net-tricks/aspnet-identity-store-user-data-in-claims
<br />
https://github.com/timschreiber/ASP.NET-Core-Identity-Example
<br />
https://github.com/aspnet/Identity/issues/1361
<br />
https://forums.asp.net/t/2009580.aspx?how+can+i+get+all+users+from+AspNetUsers+in+Dropdown+
<br />
https://forums.asp.net/t/2129247.aspx?Get+all+users+with+a+specific+role+in+ASP+NET+Core+2+0
<br />
https://forums.asp.net/t/2068468.aspx?ASP+NET+identity+use+email+instead+of+user+name
<br />
https://patrickdesjardins.com/blog/asp-net-mvc-login-with-email-instead-of-username-with-identity
<br />
https://www.codeproject.com/Articles/796940/Understanding-Using-and-Customizing-ASP-NET-Identi
<br />
https://forums.asp.net/t/2147284.aspx?Deactivate+User+with+Asp+net+Identity
<br />
https://forums.asp.net/t/2110059.aspx?Create+roles+and+give+permission+for+the+users+using+asp+net+core+with+entity+framework+core
<br />
https://forums.asp.net/t/2127937.aspx?how+to+use+aspnetuser+primary+key+in+a+custom+table
<br />
https://forums.asp.net/t/1957500.aspx?How+to+access+custom+Identity+or+ApplicationUser+properties+
<br />
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/add-user-data?view=aspnetcore-2.1&tabs=visual-studio
<br />
https://github.com/thiennn/AspnetCoreIdentityLong/tree/master/src/AspnetCoreIdentityLong/Models
<br />
https://www.tutorialspoint.com/asp.net_core/asp.net_core_identity_configuration.htm
<br />
https://www.youtube.com/watch?v=jJ_keKjuFaA
<br />
https://stackoverflow.com/questions/47054381/access-custom-applicationuser-property-from-view-in-asp-net-core-2
<br />
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-2.1
<br />
https://stackoverflow.com/questions/9758493/add-controller-model-classes-not-shown
<br />
https://stackoverflow.com/questions/9668140/add-view-model-class-dropdown-not-showing-my-class
<br />
https://stackoverflow.com/questions/26351822/scaffolding-applicationuser
<br />
https://github.com/aspnet/Scaffolding/issues/839
<br />
https://blog.nordicdev.io/changing-theprimary-key-type-of-applicationuser-in-asp-net-identity-core-1789ead1ed17
<br />
https://forums.asp.net/t/2132075.aspx?Core+2+0+missing+Scaffolding+items
<br />
https://stackoverflow.com/questions/50676654/identity-in-asp-net-core-2-1-customize-accountcontroller
<br />
https://stackoverflow.com/questions/43569906/adding-a-controller-for-applicationuser-cs-mvc-core
<br />
============================================================================================================
<br />
https://stackoverflow.com/questions/18581766/ignore-renderbody-in-razor-layout-cshtml

https://forums.asp.net/t/2098873.aspx?The+RenderBody+method+has+not+been+called+for+layout+page+Views+Shared+_Layout+cshtml+

https://stackoverflow.com/questions/39308876/the-renderbody-method-has-not-been-called-for-layout-page-views-shared-inde/42739772